<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Teacher</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style>
    body {
      background-color: #d6d8db; /* Light purple background */
      font-family: sans-serif;
    }
    .heading {
      background-color: #ffc107; /* Yellow background for heading */
      color: black;
      padding: 10px 20px;
    }
    .navbar {
      background-color: #ff9933; /* Orange background for navbar */
    }
  </style>
</head>
<body>
  <div class="heading">
    <h1>Add Teacher</h1>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top navbar shadow-sm bg-dark navbar-dark"> <div class="container-fluid">
      <a class="navbar-brand" href="#">School Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/teachers">Teachers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br> <br>  <form th:action="@{/teachers/add}" th:object="${teacher}" method="post">
        <div>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" th:field="${teacher.id}" required>
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="${teacher.name}" required>
        </div>
         <div>
            <label for="name">Designation:</label>
            <input type="text" id="designation" name="designation" th:field="${teacher.designation}" required>
        </div>
        <div>
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" th:field="${teacher.gender}" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        
        <button type="submit">Save Teacher</button>
    </form>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jY38PBHQiwNzxEh7fxXRxwDhwTlq+z" crossorigin="anonymous"></script>
</body>
</html>
